numpy==1.17.5
tensorflow==2.5.0
cython==0.29.22
mock==4.0.3
Pillow==8.1.2
msgpack==1.0.2
matplotlib==3.3.4
coremltools==4.1
opencv-python==4.5.1.48
ipython==7.21.0
tensorpack==0.11
six==1.15.0
psutil==5.8.0
