numpy
tensorflow
cython
mock
Pillow
msgpack
matplotlib
pycocotools
git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
opencv-python
IPython
tensorpack
six
numpy
coremltools
psutil
